*.swp
.idea/
assets/downloads/
bbs/attachment/
bbs/images/
bbsimg/
config.php
documents/
dump/
log/
msgxml.xml
old/
phpMyAdmin/
phpinfo.php
report.html
test.php

# Exclude `assets/images` except `assets/images/static`.
assets/images/*
!assets/images/static
