.idea/
assets/downloads/
bbs/attachment/
bbs/images/
bbsimg/
documents/
log/
old/
phpMyAdmin/
report.html
test.php
phpinfo.php
msgxml.xml
*.swp

# Exclude `assets/images` except `assets/images/static`.
assets/images/*
!assets/images/static
