.navbar .nav > li .dropdown-menu {
	margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
	display: block;
}

.footer {
	color: #777;
	text-align: center;
	padding: 30px 0;
	margin-top: 0;
	border-top: 1px solid #e0e0e0;
	background-color: #bbbbbb;
}

.footer a {
	color: #777;
}

.modal {
	margin-top: 50px;
}

body {
	background:url(../../assets/images/beige_paper.png) left top repeat;
}

.mycontainer {
  background-color: #fff;
  height: auto;
  margin-right:15%;
  margin-top:90px;
  margin-left:15%;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #CBCBCB;
}

.myform  {
  margin: 30px 40px 30px;
}

.minitip-content {
    font-size: 13px;
    padding: 8px 10px;
    color: #fff;

    text-shadow: 0 0 2px #000;
    background-color: #3C3C3C;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.green .minitip-content{
    background-color: #A8D18B;
    border: 1px solid rgba(67, 144, 102, 0.25);
    color: #3C3C3C;
    text-shadow: 0 0 2px #FAFBF1;
}

#mc-canvas {
	margin:0 auto 20px;
	padding:1px;
	display: block;
	border: 4px solid #433e45;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
#mc-canvas.mc-invalid {
	border: 4px solid #aa4444;
}

#mc-canvas.mc-valid {
	border: 4px solid #44aa44;
}
